.signup-msg {
    border-bottom: 1px solid black;
    width: 100%
}

.signup-form-container {
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
    background-color: white;
}

.signup-form {
    text-align: center;
}

.signup-input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    width: 48%;
}

.name-container {
    display: flex;
}

.signup-name {
    width: 100%
}

.signup-email {
    width: 100%;
}

.gender-box {
    margin-top: 15px;
}

.signup-gender {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    margin-left: 3px;
    margin-right: 3px;
}

.signup-gender-input {
    width: 97%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.signup-select {
    height: 40px;
    width: 33%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

.input-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup-button {
    margin-top: 20px;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(46, 225, 46);
    color: white;
    font-size: large;
    font-weight: bold;
}

.signup-loginto {
    text-decoration: none;
    color: rgb(114, 114, 199);
    text-align: center;
}

@media screen and (max-width: 600px) {
    .signup-form-container {
        width: 300px;
    }
    .gender-box {
        display: flex;
        flex-direction: column;
    }
}
