.luvApp-logo {
    content: url(./heart1.png);
    width: 5%;
    height: 10%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.logo-container {
    display: flex;
}

.login-wrapper {
    background-color: rgb(244, 242, 242);
    padding-top: 40px;
    padding-bottom: 5%;
}

@media screen and (max-width: 600px) {
    div.login-form-container {
        width: 90%;
        height: 60%;
    }
    div.or-break {
        display: hidden;
    }
    img.luvApp-logo {
        width: 20%;
        height: 40%;
    }
    div.or-break {
        visibility: hidden;
        margin: -10px;
    }
}

.login-form-container {
    margin: 0 auto;
    padding-top: 20px;
    background-color: white;
    width: 400px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(154, 150, 150);
    padding-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    height: 50px;
    margin: 0 15px 0 15px;
    border-radius: 5px;
    font-size: 100%;
    border: 1px solid rgb(220, 219, 219);
    font-family: 'Encode Sans', sans-serif;
}

.login-button {
    background-color: rgb(132, 232, 217);
    border-radius: 5px;
    margin: 20px 15px 0px 15px;
    height: 50px;
    cursor: pointer;
    font-size: large;
    border: none;
    font-family: 'Encode Sans', sans-serif;
    color: rgb(40, 104, 87);
    font-weight: bolder;
}

.login-button:hover {
    background-color: rgb(68, 232, 207);
}

.demo-login {
    background-color: rgb(249, 128, 152);
    color: white;
}

.demo-login:hover {
    background-color: rgb(255, 90, 123);
    color: white;
}

.signup-link {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: rgb(110, 183, 228);
}

.signup-link:hover {
    background-color: rgb(53, 162, 230);
}

.signup-link-container {
    display: flex;
    flex-direction: column;
}

.login-error {
    color: red;
}

.loginto-msg {
    text-align: center;
    padding: 20px;
    font-family: 'Encode Sans', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: rgb(249, 128, 152);
}

.or-break {
    margin-top: 20px;
    font-size: medium;
    color: rgb(198, 198, 199);
    text-align: center;
}
