.message-container {
    height: 650px;
    width: 100%;
}

.message-input-container {
    height: 50px;
    background-color: blue;
}

.message-form {
    display: flex;
    align-items: center;

}

.message-input {
    width: 100%
}

.submit-message {

}

.up-arrow {
    content: url(../../images/arrowup.png);
    height: 20px;
    width: 24px;
    border-radius: 40px;
}

.user-message {
    display: flex;
    justify-content: right;
}

.sender-message {

}
