body {
    margin: 0
}

.navigation-bar {
    box-shadow: 1px 1px 5px rgb(194, 194, 198);
    height: 60px;
}

.navigation-unordered {
    margin: 0;
}

.navigation-links {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.navlink {
    cursor: pointer;
}
