body {
    margin: 0
}

.navigation-bar {
    box-shadow: 1px 1px 5px rgb(194, 194, 198);
    height: 40px;
}

.navigation-unordered {
    margin: 0;
}

.navigation-links {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.navlink {
    cursor: pointer;
}

.navi-home {
    content: url(./home.png);
}

.navi-conn {
    content: url(./conn.png);
}

.navi-menu {
    content: url(./profdown.png);
}
.navi-menu2 {
    content: url(./profup.png);
}
